/**
 * Created by Ethan Sargent on 19/08/2021.
 */

@import 'c/cssLibrary';

.user-email-highlight
{
    color: #05D7F2;
}

.criteria-list
{
    list-style: disc inside;
    padding-left: 0.5rem;
}

.submit-button-wrapper
{
    width: 100%;
}