#sk-1uFo3V-67{
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein .5s;
}

.nx-page{
    padding: 0 0 10px 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* If header is present */
.bodyDiv .sk-headerwrapper {
    display: none;
}

.bodyDiv .nx-pagebuilder-toolbar-wrapper-fixed {
    padding: 0 27px;
}

/** legacy IE8 support **/
.sk-ie-legacy .sk-grid-division{
    width: 200px;
    height: 43px;
    display: block;
    float: left;
}
.sk-ie-legacy .sk-master-grid-navigation,
.sk-ie-legacy .sk-master-grid-navigation .sk-navigation{
    width: 450px;
    color: #eee !important;
}
.sk-ie-legacy .sk-master-grid-profpic{
    width: 30px;
}
.sk-ie-legacy .sk-master-grid-logo{
    width: 101px;
}
.sk-ie-legacy .sk-master-grid-division-rightside{
    float: right;
    color: #eee;
}

.sk-ie-legacy .sk-subnavigation,
.sk-ie-legacy .sk-dropnav-dropdown,
.sk-ie-legacy .sk-subnavigation div{
    background: #333 !important;
}

.sk-ie-legacy .sk-master-grid-division-search .ui-autocomplete-input{
    background: #222;
}

.sk-ie-legacy .sk-master-grid-division-search .sk-search-results{
    background: #111;
}
.license-buttons-wrapper {
    float:left ;
    clear: both;
}

.manual-license-actions a:hover {
    text-decoration: none;
}

.manual-license-actions a, 
.manual-license-actions a:visited, 
.manual-license-actions a:active {
    text-decoration: underline;
}
.theme-card {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
    position:relative;
    border: 1px solid #dedede;
    -webkit-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
    box-shadow: 0 1px 1px -1px rgba(0,0,0,.1);
}
.theme-card:focus, .theme-card:hover {
    border-color: #5b9dd9;
    -moz-box-shadow: 0 0 2px rgba(30,140,190,.8);
    -webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
    box-shadow: 0 0 2px rgba(30,140,190,.8);
}
.theme-card.selected {
    border-color: orange;
    -moz-box-shadow: 0 0 2px rgba(245,150,17,1);
    -webkit-box-shadow: 0 0 2px rgba(245,150,17,1);
    box-shadow: 0 0 2px rgba(245,150,17,1);
}

.themes-wrapper {
    width: 100%;
}
.theme-screenshot {
    width: 350px;
    height: 350px;
    overflow-y: hidden;
    margin-bottom: 42px;
}
.theme-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #dedede;
    background: #F6F6F6;
    color: #000;
    text-align: left;
    padding: 10px;
    font-size: 15pt;
}
/* This was being overridden by the css in the 
 * themebuilder's style.css
 */

.sk-headerwrapper {
    position: absolute;
}
