/**
 * Created by Ethan Sargent on 3/09/2021.
 */

@import 'c/cssLibrary';

.remaining-io-info
{
    color: #999;
    font-size: 0.9rem;
    text-align: center;
}

.remaining-io-info-wrapper
{
    width: 100%;
}