#collateralDetails-save-pt {
    margin-top:-8px;
}
.nx-editor-header-heading {
    color: #0288d1e3 !important;
    font-size: 13px !important;
    font-family: 'Lucida Grande','Lucida Sans',Arial,Helvetica,sans-serif;
    }
