/*
.nx-basicfieldeditor-columngroup {
    display: grid;
    grid-template-columns: 80% 20%;
}

.nx-basicfieldeditor-column {
     width: 100% !important;
}
*/


.nx-basicfieldeditor-section {
    margin-right: 0px;
}

.sk-grid-division {
    margin-left: 0px !important;
}

#sk-1pZ-1752,#sk-1AY_-5440,#sk-1AZ_-5769,#sk-1AaZ-6021,#sk-1AaZ-6021,#sk-1Aca-6633,#sk-1Aca-6649,#sk-1Aca-6657,#sk-1Aca-6641,#sk-1Aaw-6198,#sk-1Aca-6625,#sk-1AWh-4910,#sk-1AbF-6340,#sk-2JRQ-5750,#sk-2JWS-3000,#sk-2KQR-2991,#sk-2Eda-9270,#sk-2Eda-9231,#sk-2j7F-3407
.nx-template {
    color: red;
}
#sk-1u0-1352
.nx-template {
    color: red;
}
#sk-1pe-1788
.nx-template {
    color: red;
}
#sk-1z5-1276
.nx-template {
    color: red;
}
#sk-24T-1758
.nx-template {
    color: red;
}
#sk-25K-1852
.nx-template {
    color: red;
}
#sk-25Z-1913
.nx-template {
    color: red;
}
#sk-273-2461
.nx-template {
    color: red;
}
#sk-27G-2569
.nx-template {
    color: red;
}
#sk-27N-2638
.nx-template {
    color: red;
}
#sk-27U-2691
.nx-template {
    color: red;
}
#sk-2B6-3449
.nx-template {
    color: red;
}
#sk-2BG-3522
.nx-template {
    color: red;
}
#sk-2sw-1479
.nx-template {
    color: red;
}
#sk-2s--1515
.nx-template {
    color: red;
}
#sk-2t5-1548
.nx-template {
    color: red;
}
#sk-2um-1947
.nx-template {
    color: red;
}
#sk-25t-2090
.nx-template {
    color: red;
}
#sk-26Z-2308
.nx-template {
    color: red;
}
#sk-26j-2380,#sk-vdJ-1913,#sk-vdh-2056,#sk-vdw-2146,#sk-ve2-2202,#sk-veB-2280,#sk-veH-2345,#sk-veP-2405,#sk-veY-2481,#sk-veg-2544,#sk-vgz-2717,#sk-vhK-2785,#sk-vhT-2851,#sk-vha-2914,#sk-vkJ-3041,#sk-vko-3143,#sk-vkb-3110
.nx-template {
    color: red;
}
#sk-2tA-1581,#sk-27B-2522,#sk-25o-2048,#sk-26E-2233, #sk-25--2133,#sk-7w3-1707,#sk-PYS-1224,#sk-WAI-2927,#sk-W-b-3800,#sk-14i0-5344,#sk-14iP-5564,#sk-14iZ-5628,#sk-14jb-6026,#sk-2Eda-9200,#sk-2Eaq-3304,#sk-14iA-5419,#sk-2JHi-2937,#sk-2JHi-2945,#sk-14Qf-2848,#sk-14Qf-2858,#sk-2Eda-9208
.nx-template {
    color: red;
}
/* Trust */
#sk-v_Y-2098,#sk-wLx-3516,#sk-wM6-3575,#sk-w2S-2456,#sk-w3X-2553,#sk-w3k-2647,#sk-w3x-2743,#sk-wDe-2822,#sk-wDq-2910,#sk-14aJ-4421,#sk-14bp-4659,#sk-14c6-4784,#sk-14cF-4851,#sk-14cN-4914,#sk-14sz-7690,#sk-14tA-7783,#sk-14tj-7900,#sk-14uw-8521,#sk-14wC-9013,#sk-14Th-3279,#sk-14UJ-3397
.nx-template {
    color: red;
}
.required 
    input {
        border-top: 0px !important;
        border-right: 0px !important;
        border-bottom: 0px !important;
        border-left: 0px !important;  
        border: 1px solid #eee6ac !important;
    }
