#sk-1uFo3V-67{
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
    animation: fadein .5s;
}

.nx-page{
    padding: 0 0 10px 0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* If header is present */
.bodyDiv .sk-headerwrapper {
    display: none;
}

.bodyDiv .nx-pagebuilder-toolbar-wrapper-fixed {
    padding: 0 27px;
}

/** legacy IE8 support **/
.sk-ie-legacy .sk-grid-division{
    width: 200px;
    height: 43px;
    display: block;
    float: left;
}
.sk-ie-legacy .sk-master-grid-navigation,
.sk-ie-legacy .sk-master-grid-navigation .sk-navigation{
    width: 450px;
    color: #eee !important;
}
.sk-ie-legacy .sk-master-grid-profpic{
    width: 30px;
}
.sk-ie-legacy .sk-master-grid-logo{
    width: 101px;
}
.sk-ie-legacy .sk-master-grid-division-rightside{
    float: right;
    color: #eee;
}

.sk-ie-legacy .sk-subnavigation,
.sk-ie-legacy .sk-dropnav-dropdown,
.sk-ie-legacy .sk-subnavigation div{
    background: #333 !important;
}

.sk-ie-legacy .sk-master-grid-division-search .ui-autocomplete-input{
    background: #222;
}

.sk-ie-legacy .sk-master-grid-division-search .sk-search-results{
    background: #111;
}
.nx-field.nx-modified .nx-fieldtext {
    color: inherit;
    font-style: inherit;
}
